@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button asp-controller="home" asp-action="product">Click to Submit</button>
    <a class="btn btn-primary" asp-controller="home" asp-action="product">Click to Submit</a>
</div>